@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    line-height: 2;
    text-align: center;
}

.intro-image{
    background-attachment: fixed;
    background-image: url('../img/img_1.jpg');
    background-size: cover;
    background-position: bottom;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-image__text a{
    background-color: #412d0950;
    border: 2px solid #ba6515ad;
    color: rgb(183, 165, 151);
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;  
    text-transform: uppercase;
    transition: all 0.5s ease-in-out
}

.intro-image__text a:hover{
    transform: scale(1.2);
}

.intro-text{
    background-color: #857c77;
    color:rgb(54, 41, 9);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 0 15rem;
    
}

.intro-text__textbox h3{
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    
}

.packaging-image{
    background-attachment: fixed;
    background-image: url('../img/img_2.jpg');
    background-size: cover;
    background-position: center;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.packaging-image__text a{
    background-color: #46464e97;
    border: 2px solid #697d74ad;
    color:  #bebcb0;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
}

.packaging-image__text a:hover{
    transform: scale(1.2);
}

.packaging-text{
    background-color: #8e6f64;
    color:rgb(48, 41, 35);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 0 15rem;
}

.packaging_text__textbox h3{
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.tutorials-image{
    background-attachment: fixed;
    background-image: url('../img/img_3.jpg');
    background-size: cover;
    background-position: bottom;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tutorials-image__text a{
    background-color: #49495197;
    border: 2px solid #6c8178ad;
    color:  #b7af86;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
}

.tutorials-image__text a:hover{
    transform: scale(1.2);
}

.footer{
    height: 250px;
    background-color: #604b41;
    color: #2d2a29;
    font-size: 2rem;
    padding-top: 2rem;
}

.footer ul li{
    display: inline-block;
    margin: 1rem;
}

.footer ul li a{
    color: #867b76;
    text-decoration: none;
}

.footer ul li:hover{
    transform: scale(1.3);
}
